/* mstr filter stylesheet */

/* filter - begin*/
.mstr-filter {
    position: fixed;
    top: 50px;
    right: 12px;
    z-index: 1040;

    .mstr-filter-definition {
        background-color: #393d4c;
        color: #bbb;
        padding: 12px 0 3px;
        width: 180px;
        position: relative;
        box-shadow: 0px 3px 9px #000;

        h1 {
            margin: 0 12px 20px;
            font-size: smaller;
            text-transform: uppercase;
            font-weight: normal;
        }

        &:after {
            right: 9px;
            top: -30px;
            width: 0;
            height: 0;
            border-width: 15px;
            border-style: solid;
            border-color: transparent transparent #393d4c;
            content: "";
            position: absolute;
        }

        .mstr-filter-buttons,
        .mstr-filter-conditions {
            list-style: none;
            padding-left: 0px;
            font-size: small;
            overflow: auto;
        }

        .mstr-filter-condition {
            cursor: default;
            min-height: 20px;
            padding: 4px 0 0 12px;

            &.selected,
            &:hover {
                background-color: #292d3c;
                color: #eee;
            }

            .mstr-filter-selections-container {
                max-height: 200px;
                overflow: auto;
                margin-bottom: 5px;
                padding: 0 12px 4px 0;

                .mstr-filter-selections {
                    list-style: none;
                    padding-left: 10px;
                    margin-top: 5px;
                    position: relative;

                    .mstr-filter-selection {
                        display: inline-block;
                        color: #aab;
                        border: 1px solid #aab;
                        padding: 2px 5px;
                        border-radius: 4px;
                        margin: 0 3px 3px;
                    }
                }
            }
        }

        .mstr-filter-buttons {
            text-align: center;
            margin-bottom: 0;

            .mstr-filter-button-apply > .btn-success {
                width: 156px;
            }

            .mstr-filter-button-clear {
                text-decoration: underline;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    color: #eee;
                }
            }

        }
    }

    .mstr-filter-editor {
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        position: absolute;
        width: 180px;
        height: 100%;
        background-color: #fff;
        border: 1px solid #393d4c;
        top: 0px;
        right: 0px;
        opacity: 0;
        box-shadow: none;
        overflow: hidden;

        &.open {
            right: 180px;
            opacity: 1;
            width: 400px;
            box-shadow: 0px 3px 9px #666;
        }

        .mstr-filter-editor-title {
            font-size: large;
            font-weight: 200;
            margin: 24px;
        }

        .form-group {
            margin: 24px;
        }

        .mstr-filter-editor-contents {
            position: absolute;
            left: 0;
            right: 0;
            top: 130px;
            bottom: 0;
            overflow: auto;

            &.bar ul,
            &.map ul {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &.bar ul {
                top: 10px;

                & > li {
                    margin-bottom: 16px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.02);
                        color: #333;

                        & > span {
                            color: #46ace1;
                        }
                    }

                }
            }

            &.map {
                overflow: hidden;

                ul {
                    top: 235px;
                    overflow: auto;
                }
            }
        }

        ul {
            list-style: none;
            padding-left: 0;

            & > li {
                position: relative;
                margin-left: 0%;

                & > span {
                    font-size: small;
                    text-decoration: underline;
                    position: relative;
                    top: 2px;
                    cursor: pointer;
                    visibility: hidden;
                }

                &:last-child {
                    margin-bottom: 50px;
                }

                &:hover {
                    background-color: #fafafa;
                    color: #46ace1;

                    & > span {
                        visibility: visible;
                    }
                }

            }
        }

        &:after {
            content: "";
            position: absolute;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.25, rgba(255, 255, 255, 0.9)), color-stop(1, rgb(255, 255, 255)));
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
        }

        .checkbox {
            position: absolute;
            left: 44px;
            top: 3px;
        }

        label {
            vertical-align: sub;
            font-weight: normal;
            padding-left: 66px;
            font-size: small;
            width: 82%;
            margin-bottom: 0;
            padding-bottom: 5px;
        }

        .mstr-filter-editor-footer {
            position: absolute;
            bottom: 12px;
            z-index: 1;
            font-size: smaller;
            width: 100%;

            div {
                text-decoration: underline;
                cursor: pointer;

                &:hover {
                    color: #46ace1;
                }
            }

            .mstr-filter-editor-footer-left {
                float: left;
                margin-left: 145px;
            }

            .mstr-filter-editor-footer-right {
                float: right;
                margin-right: 145px;
            }
        }

    }
}

/* filter - end*/
