/* all dossiers - begin*/
.mstr-navbar.mstrX{
    $color-common-blue: #107BE7;
    margin: 0;
    color: $color-common-blue;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;

    ul {
        margin: 0;

        &.navbar-text {
            padding-left: 20px;
        }

        > li.mstr-navbar-item {
            cursor: pointer;
            padding: 0 10px;
        }
    }
}

/* all dossiers- end*/
