@import "constants/xtab-dossier";

/* mstr xtab stylesheet */

/* xtab - begin*/

.mstr-xtab-scrollable {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 29px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.mstr-xtab-header-container {
    position: fixed;
    width: 100%;
}

.mstr-xtab {

    margin-bottom: 50px;
    white-space: nowrap;
    width : 100%;

    &.table > tbody + tbody {
        border-top: 0;
    }

    &.header {
        position: fixed;
        top: $height-header-dossier;
        font-family: $font-family-header-xtab;
        color : $color-font-header-xtab;
        background-color: $color-background-header-xtab;
        table-layout: fixed;
    }

    &.body{
        font-family: $font-family-cell-xtab;
        color : $color-font-cell-xtab;
    }

    > colgroup + thead > tr:first-child > th{
        border : $border-cell-xtab;
    }

    tbody,
    thead{
        tr {
            th,
            td {
                text-overflow: ellipsis;
                overflow: hidden;
                border: $border-cell-xtab;
                padding: $padding-cell-xtab;
            }

            th {
                vertical-align: middle;
                cursor: pointer;
                font-weight: normal;

                &.sorted,
                &:hover {
                    text-decoration: underline;
                }

            }

            th:first-child,
            td:first-child {
                padding-left: 24px;
                border-left:0;
            }

            th:last-child,
            td:last-child {
                padding-right: 20px;
                border-right:0;
            }
        }
    }

}

/* xtab - end*/
