/* mstr xtab stylesheet */

/* xtab - begin*/

.mstr-xtab-scrollable {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 35px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.mstr-xtab-header-container {
    position: fixed;
    height: 33px;
    width: 100%;
    background-color: #46ace1
}

.mstr-xtab {

    margin-bottom: 50px;
    white-space: nowrap;

    &.header {
        position: fixed;
        top:50px;
        table-layout: fixed;
    }

    &.header {
        background-color: #46ace1;
        color: #fff;
    }

    &.body thead {
        background-color: #fff;
        color: #fff;
    }

    & > thead > tr > th {
        vertical-align: middle;
        cursor: pointer;

        &.sorted,
        &:hover {
            text-decoration: underline;
        }

    }

    th:first-child,
    td:first-child {
        padding-left: 20px;
    }

    th:last-child,
    td:last-child {
        padding-right: 20px;
    }

    th,
    td {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* xtab - end*/
