/* calendar stylesheet */

.mstr-calendar {
    top: 100px;
    width: 250px;
    background-color: #fff;
    margin: 0 auto;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    td,
    th {
        padding: 5px;
        text-align: center;
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

    thead > tr:first-child th,
    tbody td {
        cursor: pointer;
        border-radius: 5px;
    }

    thead th {

        &.prev,
        &.next {
            font-size: 21px;
        }
    }

    thead > tr:first-child th:hover,
    tbody td.day:hover,
    tbody td span:hover {
        background-color: #eee;
    }

    tbody td {

        &.day {
            &.inactive {
                color: #999;
            }

            &.today {
                position:relative;

                &:before {
                    content: '';
                    display: inline-block;
                    border-left: 7px solid transparent;
                    border-bottom: 7px solid #428bca;
                    position: absolute;
                    bottom: 4px;
                    right: 4px;
                }

                &.selected:before {
                    border-bottom-color: #fff;
                }
            }

            &.selected {
                background-color: #428bca;
                color: #fff;
            }
        }

        span {
            display: inline-block;
            width: 54px;
            height: 54px;
            line-height: 54px;
            margin: 2px 1.5px;
            cursor: pointer;
            border-radius: 5px;

            &.selected {
                background-color: #428bca;
                color: #fff;
            }

            &.inactive {
                color: #999;
            }
        }
    }
}







