/* mstr view css stylesheet */

/* dossier page - begin*/
.mstr-dossier-page {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;

    &.ng-enter,
    &.ng-leave {
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    &.ng-leave {
        opacity: 0;
    }

    &.ng-enter {
        opacity: 0;
    }

    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
}

.mstr-dossier-page:after {
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -40px;
    background-color: #fff;
    box-shadow: 0 -30px 90px #fff;
}

/* dossier page - end*/
