/* all dossiers - begin*/
.mstr-navbar {

    $color-common-blue: #107BE7;
    margin: 0;
    color: $color-common-blue;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;

    ul {
        display: inline;
        margin: 0;

        &.navbar-text {
            padding-left: 20px;
        }

        > li.mstr-navbar-item {
            cursor: pointer;
            padding: 0 10px;
            float: left;
            position: relative;
            display: block;
        }
    }

    .navbar-nav {
        margin: 2px 0 0 0;
        float: left;
        padding-left: 0;
        list-style: none;
    }

    .navbar-right {
        margin-right: 0;
        margin-bottom: 8px;
        float: right;
    }

}
/* all dossiers- end*/
