/* app css stylesheet */
@import "mstr-font-icons";
@import "mstr-xtab";
@import "mstr-filter";
@import "mstr-map-selector";
@import "mstr-view";
@import "mstr-bar-selector";
@import "mstr-calendar";
@import "mstr-navbar";
@import "common/mstr-popup";
@import "components/mstr-filterpanel";

html,
body {
//    font: 14px "Helvetica Neue", "Open Sans", sans-serif;
//    color: #333333;
    height: 100%;
//    font-weight: 100;
}

/* top navigation bar - begin*/
.mstr-navbar {
    background-color: #fff;
    color: #46ace1;

    .navbar-nav {
        margin-top: 2px;

        & > li > a {
            padding: 10px;
        }
    }

    .navbar-text {
//        font-size: x-large;
        margin: 6px 15px;
        font-weight: 100;
    }

    .navbar-right {
        margin-right: 0;
    }

    .navbar-form {
        .form-group {

            .mstr-search {
                width: 300px;
            }

            .mstr-search:focus {
                width: 300px;
            }

            .mstr-search-results {
                position: fixed;
                width: 300px;
                background: #fff;
                border: 1px solid #66afe9;
                -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,.075), 0 4px 4px rgba(102, 175, 233, .3);
                box-shadow: inset 0 -1px 1px rgba(0,0,0,.075), 0 4px 4px rgba(102, 175, 233, .3);
                top: 39px;
                border-radius: 0 0 4px 4px;
                border-top-color: #ddd;

                ul {
                    padding: 0;
                    margin: 5px 0;
                    font-size: smaller;
                    line-height: 2em;

                    li {
                        padding: 0 12px;
                        cursor: default;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        &.mstr-search-suggestion {
                            padding-left: 24px;

                            &.selected {
                                background-color: #eee;
                            }
                        }

                        &.mstr-search-no-results,
                        &.mstr-search-match,
                        &.mstr-search-suggestions {
                            color: #46ace1;
                        }

                        &.mstr-search-match {
                            border-bottom: 1px solid #ddd;
                        }
                    }
                }
            }
        }
    }
}

/* top navigation bar - end*/

/* bottom navigation bar - begin*/
.mstr-pager {
    border: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;

    ul {
        text-align: center;
        padding: 0;
        box-shadow: 0 1px 60px #fff;
        background-color: rgba(255,255,255,0.35);
    }

    li {
        display: inline;

        &.selected > a,
        &:hover a {
            text-shadow: 0 0 3px #000;
        }

        &.selected > a {
            color: #444;
        }

        & > a {
            color: #acacac;
            padding: 30px 2px;
        }
    }

    .container-fluid {
        min-height: 20px;
    }
}

/* bottom navigation bar - end*/

/* popup config - begin*/
.modal-dialog {
    width: 100%;
    margin: 0;

    .modal-content {
        box-shadow: none;
        border: none;
    }
}

/* popup config - end*/

/* share - begin*/
.mstr-share {
    position: fixed;
    top: 50px;
    left: 42px;
    background-color: #393d4c;
    color: #bbb;
    padding: 16px;
    z-index: 1040;
    box-shadow: 0px 3px 9px #000;

    h1 {
        clear: both;
        font-size: smaller;
        text-transform: uppercase;
        margin: 0 0 10px;
        text-align: center;
    }

    &:after {
        left: 20px;
        top: -30px;
        width: 0;
        height: 0;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent #393d4c;
        content: "";
        position: absolute;
    }

    .mstr-share-options {
        list-style: none;
        padding-left: 0;

        .mstr-share-option {
            display: block;
            float: left;
            width: 108px;
            height: 76px;
            padding-top: 70px;
            font-size: small;
            text-align: center;
            background-repeat: no-repeat;
            background-color: transparent;
            margin-bottom: 6px;
            opacity: 0.8;
        }

        .mstr-share-option:hover {
            opacity: 1;
            color: #eee;
        }

        .mstr-share-option-fb {
            background-image: url(icons/facebook.png);
        }

        .mstr-share-option-email {
            background-image: url(icons/envelope.png);
            background-position: 50%;
        }
    }
}

/* share - end*/

/* bar selector - begin*/
.mstr-bar-selector {
    width: 398px;
    height: 250px;
    opacity: 0.5;
}

/* bar selector - end*/

/* table of contents - begin*/
.mstr-index {
    position: fixed;
    top: 50px;
    left: 12px;
    background-color: #393d4c;
    color: #bbb;
    padding: 16px;
    z-index: 1040;
    box-shadow: 0px 3px 9px #000;

    h1 {
        clear: both;
        font-size: smaller;
        text-transform: uppercase;
        margin: 0 0 10px;
    }

    & > .mstr-index-options {

        a {
            color: #bbb;

            &:hover {
                background-color: #595d6c;
            }
        }

    }

    .mstr-index-list {
        list-style: none;
        line-height: 30px;
        padding-left: 10px;
        margin-bottom: 0;

        li {
            position: relative;
            font-size: small;

            & > span.glyphicon {
                position: absolute;
                top: 8px;
            }

            & > a {
                color: #bbb;
                padding-left: 26px;
            }

            &:hover {
                text-decoration: underline;
                cursor: pointer;

                & > a {
                    color: #eee;
                }
            }

        }

    }

    &:after {
        left: 10px;
        top: -30px;
        width: 0;
        height: 0;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent #393d4c;
        content: "";
        position: absolute;
    }
}

/* table of contents - end*/


/* icons - begin*/
.mstr-nav-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;

    &.mstr-nav-icon-toc {
        background-image: url(icons/toc.png);
        background-position: 50% 7px;
    }

    &.mstr-nav-icon-share {
        background-image: url(icons/share.png);
    }

    &.mstr-nav-icon-filter {
        background-image: url(icons/filter.png);
        background-position: 50% 4px;
    }

    &.mstr-nav-icon-sort {
        background-image: url(icons/sort.png);
    }

    &.mstr-nav-icon-style {
        background-image: url(icons/style.png);
    }
}

/* icons - end*/
