$height-header-dossier:64px;

$padding-cell-xtab : 6px 12px;

$border-cell-xtab: 1px solid #c2c8ce;

$color-font-cell-xtab: #333333;
$color-background-header-xtab: #F7F7F7;
$color-font-header-xtab: #4D5154;

$font-family-cell-xtab : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-header-xtab : "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


