//The height of the dossier header
$height-header-dossier:64px;

$border-cell-xtab: 1px solid #c2c8ce;
$font-family-cell-xtab : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-color-cell-xtab: #333333;
$font-family-header-xtab : "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-color-header-xtab : #4D5154;
$padding-cell-xtab : 12px 6px;



